## DAY 19 Filter (Where Clause) & Sort

#### 1.	Create an Excel with data of Student database and add all the values which is required for student management database, Read the excel file and add the datas into a DB (using script)

In [1]:
import xlrd
import mysql.connector

In [3]:
book = xlrd.open_workbook('Student_Database.xlsx')
sheet =book.sheet_by_index(0)
sheet.cell_value(0,0)

data = []

for i in range(1,10):
    data.append(tuple(sheet.row_values(i)))

print(data)

[(101.0, 'Hameed', 22.0, 'ECE', 'IV', 8137921241.0, 0.0, 7.5), (102.0, 'Subash', 22.0, 'ECE', 'IV', 9497425221.0, 0.0, 8.5), (151.0, 'Irfan', 22.0, 'MECH', 'IV', 9194965500.0, 1.0, 7.0), (106.0, 'Shafiq', 21.0, 'ECE', 'IV', 8780040090.0, 0.0, 7.2), (159.0, 'Usama', 23.0, 'MECH', 'IV', 8121000045.0, 5.0, 6.5), (201.0, 'Sajid', 22.0, 'CSE', 'IV', 8137220090.0, 2.0, 7.3), (159.0, 'Ismath', 21.0, 'CIVIL', 'IV', 7523600120.0, 0.0, 8.8), (159.0, 'Arun', 21.0, 'CIVIL', 'IV', 7828229631.0, 1.0, 7.6), (159.0, 'Nihaath', 22.0, 'EEE', 'IV', 8199002000.0, 0.0, 9.0)]

In [9]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'password'
)

db = mydb.cursor()

db.execute('CREATE DATABASE student_data1')

In [15]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'password',
    database = 'student_data1'
)

db = mydb.cursor()

db.execute('CREATE TABLE student1 (student_ID INT(10), name VARCHAR(50), Age INT(10), Branch VARCHAR(50), Year VARCHAR(50), Contact_Number VARCHAR(50), Backlogs INT(10),GPA FLOAT(10))')

In [9]:
db = mydb.cursor()

db.execute('SHOW TABLES')

for i in db:
    print(i)

('student',)
('student1',)

In [16]:
db = mydb.cursor()

query = "INSERT INTO student1(student_ID,name,Age,Branch,Year,contact_Number,Backlogs,GPA)VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"

db.executemany(query,data)

mydb.commit()
mydb.close()

In [18]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'password',
    database = 'student_data1'
)

db = mydb.cursor()

db.execute('SELECT * FROM student1')

for i in db:
    print(i)

(101, 'Hameed', 22, 'ECE', 'IV', '8137921241.0', 0, 7.5)
(102, 'Subash', 22, 'ECE', 'IV', '9497425221.0', 0, 8.5)
(151, 'Irfan', 22, 'MECH', 'IV', '9194965500.0', 1, 7.0)
(106, 'Shafiq', 21, 'ECE', 'IV', '8780040090.0', 0, 7.2)
(159, 'Usama', 23, 'MECH', 'IV', '8121000045.0', 5, 6.5)
(201, 'Sajid', 22, 'CSE', 'IV', '8137220090.0', 2, 7.3)
(159, 'Ismath', 21, 'CIVIL', 'IV', '7523600120.0', 0, 8.8)
(159, 'Arun', 21, 'CIVIL', 'IV', '7828229631.0', 1, 7.6)
(159, 'Nihaath', 22, 'EEE', 'IV', '8199002000.0', 0, 9.0)

In [23]:
db = mydb.cursor()

db.execute('SELECT name,Branch FROM student1 WHERE Backlogs=0')

res = db.fetchall()

for i in res:
    print(i)

('Hameed', 'ECE')
('Subash', 'ECE')
('Shafiq', 'ECE')
('Ismath', 'CIVIL')
('Nihaath', 'EEE')

In [24]:
db = mydb.cursor()

db.execute('SELECT name,Branch FROM student1 WHERE Backlogs>0')

res = db.fetchall()

for i in res:
    print(i)

('Irfan', 'MECH')
('Usama', 'MECH')
('Sajid', 'CSE')
('Arun', 'CIVIL')