## DAY 24 JSON

In [1]:
import json

In [6]:
x = '{"name" : "Hameed","age" : 22,"Designation" : "Python Developer"}'

y = json.loads(x)

print(y['age'])

22

In [7]:
y['name']

'Hameed'

#### 1.	Create a JSON of all object types and import the JSON into a SQL Database
Note: The JSON file should have valus of all Datatypes

In [25]:
data = [{"name" : "Hameed",
        "age" : 22, "Degree" : "B.E", "Married" : False ,
        "skills" :'Python',
        'tools': 'Jupyter Notebook','job' : None},
       
        {"name" : 'Habeeb','age': 21,'Degree' : 'BCA','Married' : False,
        'skills' : 'CyberSecurity', 'tools' : 'Linux',
       'job' : None},
        
        {"name" : 'Jawa','age': 30,'Degree' : 'B.E','Married' : True,
        'skills' : 'Scala', 'tools' : 'Informatics',
       'job' : 'Sr.Data Engineer'}
        
       ]
print(type(data))

json_data = json.dumps(data)
print(type(json_data))

<class 'list'>
<class 'str'>

In [13]:
import mysql.connector

In [14]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
)()
db = mydb.cursor
db.execute('CREATE DATABASE json_data')

In [18]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'json_data'
)
db = mydb.cursor()
db.execute('CREATE TABLE json_records(name VARCHAR(255),age INT,degree VARCHAR(255),married VARCHAR(255),skills VARCHAR(255),tools VARCHAR(255),job VARCHAR(255))')

In [30]:
db = mydb.cursor()

for i in data:
    name = i.get('name')
    age = i.get('age')
    Degree = i.get('Degree')
    Married = i.get('Married')
    skills = i.get('skills')
    tools = i.get('tools')
    job = i.get('jobs')
    db.execute('INSERT INTO json_records(name,age,Degree,Married,skills,tools,job)VALUES(%s,%s,%s,%s,%s,%s,%s)',(name,age,Degree,Married,skills,tools,job))

mydb.commit()
db.close()

True

In [31]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'json_data'
)
db = mydb.cursor()
db.execute('SELECT * FROM json_records')
res = db.fetchall()

for i in res:
    print(i)

('Hameed', 22, 'B.E', '0', 'Python', 'Jupyter Notebook', None)
('Habeeb', 21, 'BCA', '0', 'CyberSecurity', 'Linux', None)
('Jawa', 30, 'B.E', '1', 'Scala', 'Informatics', None)