## Day 18 â€“ Python MySql (Insert into & select)

#### 1.	Create a DB with doctor and doctor ID & patients visited

In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password'
)

In [5]:
db = mydb.cursor()

db.execute('CREATE DATABASE doctor')

In [6]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'doctor'
)

db = mydb.cursor()
db.execute('CREATE TABLE Doctor (doc_id VARCHAR(255),doc_name VARCHAR(255),patient_visited VARCHAR(255))')

In [7]:
db = mydb.cursor()
db.execute('SHOW TABLES')

for i in db:
    print(i)

('doctor',)

In [9]:
db = mydb.cursor()

sql = "INSERT INTO Doctor (doc_id , doc_name , patient_visited) VALUES (%s,%s,%s)"
val = [
  ('D18','Dr.Anas','6'),
    ('D24','Dr.Shoaib','3'),
    ('D8','Dr.Nargees Banu','8'),
    ('D52','Dr.Latha','2'),
    ('D23','Dr.Zachariah','15'),
    ('D1','Dr.Rajeev Philip','20'),
    ('D78','Dr.Subash','0'),
    ('D65','Dr.Libu','0'),
     ('D23','Dr.Varunka','0'),
    
]

db.executemany(sql, val)

mydb.commit()

print(db.rowcount, "item inserted.")

9 item inserted.

#### 2. Get the doctor(s) who have more than 5 patients visited

In [10]:
db = mydb.cursor()
db.execute('SELECT * FROM Doctor WHERE patient_visited>5')

res = db.fetchall()

for i in res:
    print(i)

('D18', 'Dr.Anas', '6')
('D8', 'Dr.Nargees Banu', '8')
('D23', 'Dr.Zachariah', '15')
('D1', 'Dr.Rajeev Philip', '20')

#### 3.	Get the doctors with no patients visit

In [11]:
db = mydb.cursor()

db.execute('SELECT * FROM Doctor WHERE patient_visited = 0')

res = db.fetchall()

for i in res:
    print(i)

('D78', 'Dr.Subash', '0')
('D65', 'Dr.Libu', '0')
('D23', 'Dr.Varunka', '0')

In [12]:
print('Thank You')

Thank You