## DAY 17_Python_MySQL

#### •	Create a connection for DB and print the version using a python program

In [1]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
    host = "localhost",
    username = 'root',
    password = 'password'
    ) 
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000000583D7FD8C8>

In [4]:
import sys
cur = mydb.cursor()
cur.execute("SELECT VERSION()")
data = cur.fetchone()
print("DBMS Version :",str(data))

DBMS Version : ('8.0.23',)

#### •	Create a multiple tables & insert data in table

In [13]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'mydatabase'
    )
db = mydb.cursor()
db.execute('CREATE TABLE customers (Employee_name VARCHAR(255), Employee_dep VARCHAR(255), Employee_id VARCHAR(255))')

In [14]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'mydatabase'
    )
db = mydb.cursor()
db.execute('SHOW TABLES')

for i in db:
    print(i)

('customers',)

In [15]:
db = mydb.cursor()
db.execute("CREATE TABLE Office (emp_name VARCHAR(255), Employee_id VARCHAR(255) ,EMP_ADDRESS VARCHAR(255))")

In [16]:
db = mydb.cursor()
db.execute('CREATE TABLE Student(rollno INT(24) , STUD_NAME VARCHAR(255) , MARK INT(3))')

In [17]:
db = mydb.cursor()
db.execute('SHOW TABLES')

for i in db:
    print(i)

('customers',)
('office',)
('student',)

#### •	Create a employee table and read all the employee name in the table using for loop

In [26]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'mydatabase'
)

db = mydb.cursor()
db.execute('CREATE TABLE Employee1(id INT, name VARCHAR(255), address VARCHAR(255))')

In [31]:
db = mydb.cursor()

insert = "INSERT INTO Employee1 (id,name, address) VALUES (%s,%s,%s)"
val = [
  ('1','Ziyath', 'Big Nesavu Street'),
  ('2','Jawa', 'Utrecht High Road'),
  ('3','Ismath', 'Dubai Kurukku Sandhu'),
  ('4','Usama', 'Periyapattinam,Ramnad'),
  ('5','Bibin', 'Chingavam P.O,Kotayam'),
  ('6','Govind', 'Pala,Kottayam')
]

db.executemany(insert, val)

mydb.commit()

print(db.rowcount, "item inserted.")

6 item inserted.

In [35]:
mydb = mysql.connector.connect(
    host = 'localhost',
    username = 'root',
    password = 'password',
    database = 'mydatabase'
)

db = mydb.cursor()
db.execute("SELECT name FROM Employee1")

res = db.fetchall()

for x in res:
    print(x)

('Ziyath',)
('Jawa',)
('Ismath',)
('Usama',)
('Bibin',)
('Govind',)